<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechCon Header</title>
    <link rel="shortcut icon" href="https://placekitten.com/96/139" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1kY99CQMDuVetollrYwgSt+9QdHe7NLX/SoYhXDXF3Z71knRfysxLSi8n07UC"
            crossorigin="anonymous">
    </script>
</head>

<body>
<header>
    <!-- Section 1 -->
    <nav data-hx-trigger="load"
         data-hx-swap="outerHTML"
         data-hx-get="global.header-head.partial.html">
    </nav>
</header>
<main>

    <!-- Section 2 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-hero.partial.html">
    </section>

    <!-- Section 3 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-menu.partial.html">
    </section>

    <!-- Section 4 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-split.partial.html">
    </section>

    <!-- Section 5 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.section-reservation.partial.html">
    </section>

    <!-- Section 6 -->
    <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html">
    </section>
</main>
</body>
</html>